
#buttons1-n {
}

#msg-box5-l {
.mbr-header__text {
	color: #ffffff;
	text-align: center;
}
.mbr-header__subtext {
	color: #ffffff;
}
.mbr-article {
	color: #ffffff;
}
}

#buttons1-c {
}

#buttons1-d {
}

#slider2-i {
}

#header3-b {
H3 {
	text-align: center;
}
}

#ext_menu-0 {
.mbr-brand__name {
	font-size: 16px;
}
&.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
.mbr-navbar__section {
	background: #2c2c2c;
}
.mbr-navbar__hamburger {
	color: #ffffff;
}
.navbar-toggler {
	color: #ffffff;
}
.close-icon::before, .close-icon::after {
	background-color: #ffffff;
}
.link, .dropdown-item {
	color: #ffffff;
}
.link {
	font-size: 0.75rem;
}
.dropdown-item, .nav-dropdown-sm .link {
	font-size: 0.812rem;
}
.link:hover, .dropdown-item:hover, .link:focus, .dropdown-item:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-menu {
	background: #0e0e0e;
}
.nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover, .nav-dropdown-sm .dropdown-item:focus, .nav-dropdown-sm .dropdown-item:hover {
	background: #202020!important;
}
.navbar, .nav-dropdown-sm, .nav-dropdown-sm .link[aria-expanded="true"], .nav-dropdown-sm .dropdown-menu {
	background: #282828;
}
.bg-color.transparent .link {
	color: #ffffff;
	transition: none;
}
.bg-color.transparent.opened .link {
	transition: color .2s ease-in-out;
}
.bg-color.transparent.opened .link:hover, .bg-color.transparent.opened .link:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-item[aria-expanded="true"] {
	color: #c0a375!important;
}
}

#slider-3 {
}

#header3-5 {
}

#content1-6 {
}

#testimonials1-7 {
.mbr-reviews__author-name {
	text-align: left;
}
}

#testimonials1-e {
}

#social-buttons2-9 {
}

#feed-g {
undefined {
	color: #ffffff;
}
}

#contacts2-a {
P {
	text-align: center;
	font-size: 13px;
	color: #efefef;
}
}

#footer1-f {
}
